/* ======================
   PAGE
====================== */
.add-task-page {
  min-height: 100vh;
  background: #020617;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;

  /* opacity: 0;
  animation: addTaskPageFade 0.6s ease-out forwards; */
}

@keyframes addTaskPageFade {
  to {
    opacity: 1;
  }
}

/* ======================
   ADD TASK BOX
====================== */
.add-task-box {
  background: #0f172a;
  padding: 30px;
  width: 400px;
  border-radius: 12px;

  opacity: 0;
  transform: translateY(20px);
  animation: addTaskBoxRise 0.6s ease-out forwards;
  animation-delay: 0.15s;
}

@keyframes addTaskBoxRise {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.add-task-box h1 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

/* ======================
   INPUTS
====================== */
.add-task-box input,
.add-task-box textarea,
.add-task-box select {
  width: 100%;
  padding: 10px;
  margin-bottom: 14px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;

  background: #020617;
  color: #ffffff;
  transition: border 0.2s ease, background 0.2s ease;
}

.add-task-box input:focus,
.add-task-box textarea:focus,
.add-task-box select:focus {
  border: 1px solid #38bdf8;
  background: #020617;
}

.add-task-box textarea {
  resize: none;
  height: 80px;
}

/* ======================
   BUTTON
====================== */
.add-task-box button {
  width: 100%;
  padding: 10px;
  background: #38bdf8;
  color: #020617;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;

  transition: background 0.25s ease, transform 0.25s ease;
}

.add-task-box button:hover {
  background: #0ea5e9;
  transform: translateY(-2px);
}
